.footer {
  background-color: var(--color-background);
  color: var(--color-foreground);
  padding: 3rem 4rem;
  border-top: 1px solid var(--gray-200);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer-links {
  display: flex;
  gap: 2rem;
}

.footer-links li {
  text-transform: uppercase;
}

.footer-links a {
  color: var(--gray-800);
  font-size: 0.95rem;
}

.social-links {
  display: flex;
  gap: 2rem;
}

/* Bottom Bar */
.footer-bottom {
  margin-top: 3rem;
  padding-top: 1rem;
  border-top: 1px solid var(--gray-50);
  text-align: center;
  font-size: 0.85rem;
  color: var(--gray-400);
}
