.project-layout-3 {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 6rem 2rem 4rem 2rem;
  z-index: 10;
}

.layout3-outer {
  background-color: var(--color-foreground);
  width: 100%;
  padding: 1px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  position: relative;
  z-index: 10;
}

.layout3-inner {
  background-color: var(--color-background);
  border-radius: 20px; /* Ne pas changer */
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-grow: 1;
  position: relative;
  z-index: 10;
}

.layout3-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
}

.layout3-header {
  text-align: left;
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-self: center;
  position: relative;
  left: 10%;
  bottom: 10%;
  position: relative;
  z-index: 80;
}

.project-layout-3 .project-title {
  font-family: var(--font-heading);
  font-size: 2.2rem;
  text-transform: uppercase;
  color: var(--color-foreground);
  margin: 0;
}

.project-layout-3 .project-subtitle {
  font-family: var(--font-body);
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-foreground);
  margin: 0;
}

.project-layout-3 .project-description-text {
  font-family: var(--font-body);
  font-size: .9rem;
  line-height: 1.4;
  width: 60%;
  color: var(--color-foreground);
  white-space: pre-line;
  position: relative;
  z-index: 60;
}

/* Gallery Grid */
.layout3-gallery {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
}

/* Labeled Image Component Styles */
.labeled-image-card {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 450px;
  aspect-ratio: 17/20;
  background-color: var(--color-background);
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
  z-index: 100;
  user-select: none;
}

.labeled-image-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.03);
}

.labeled-image-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 1.5rem;
  padding-bottom: 0;
}

.labeled-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.labeled-image-title {
  font-family: var(--font-heading);
  font-size: 1.1rem;
  color: var(--color-foreground);
  text-align: center;
  padding: .5rem 2rem 1.5rem 2rem;
  letter-spacing: 0.05em;
}

/* Gallery item child by child */

.labeled-image-card:nth-child(1) {
  top: 5%;
  left: 0;
  z-index: 190;
}

.labeled-image-card:nth-child(2) {
  top: 20%;
  left: 20%;
  z-index: 200;
  height: 440px;
}

.labeled-image-card:nth-child(3) {
  right: 25%;
  top: -2%;
  height: 420px;
}

.labeled-image-card:nth-child(4) {
  top: 5%;
  right: 2%;
  height: 440px;
}


/* Responsive */
@media (max-width: 1024px) {
  .layout3-container {
    padding: 6rem 2rem 2rem 2rem;
  }

  .layout3-header {
    margin-bottom: 4rem;
  }

  .layout3-gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .project-layout-3 .project-title {
    font-size: 2.5rem;
  }

  .project-layout-3 .project-subtitle {
    font-size: 1.2rem;
  }

  .layout3-gallery {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .labeled-image-title {
    font-size: 1rem;
  }
}
