.home-container {
  display: flex;
  padding: 2rem 4rem;
  flex-grow: 1;
  height: 80dvh;
  overflow: hidden;
  position: relative;
}

.home-section {
  width: 100%;
  max-width: 780px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.home-title {
  margin-top: 6rem;
  font-family: var(--font-heading);
  margin-bottom: 1rem;
  font-size: 4rem;
  width: 100%;
  line-height: 1.2;
}

.home-title-name {
  font-size: 2rem;
  font-weight: 400;
  opacity: .8;
}

.home-description {
  max-width: 600px;
  line-height: 1.6;
}

.home-link-container {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* Textures */
.textures {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.textures img,
.textures .texture-image {
  width: 150px;
  height: 250px;
  object-fit: cover;
  filter: blur(2px);
  opacity: .75;
  will-change: transform, filter;
  transform: translateZ(0);
  backface-visibility: hidden;
}

