.home-container {
  display: flex;
  padding: 2rem 4rem;
  flex-grow: 1;
  height: 80dvh;
  overflow: hidden;
  position: relative;
}

.latest-projects {
  width: 50%;
  position: relative;
}

.home-section {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.home-title {
  margin-top: 6rem;
  font-family: var(--font-heading);
  margin-bottom: 1rem;
  font-size: 5rem;
  width: 100%;
  line-height: 1.2;
}

.home-description {
  max-width: 500px;
  line-height: 1.6;
}

.home-link-container {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.home-link {
  color: var(--color-foreground);
  border-bottom: 2px solid var(--gray-400);
  padding-bottom: .1rem;
  transition: opacity 0.2s ease;
  opacity: .75;
}

.home-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--color-primary);
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.home-link:hover {
  opacity: 1;
}

.latest-project-card {
  border: 1px solid var(--color-background);
}

.latest-project-card h2 {
  position: absolute;
  bottom: 1rem;
  left: calc(100% + 1rem);
  font-family: var(--font-heading);
  font-size: 3rem;
  color: var(--color-foreground);
  width: 370px;
}

.latest-project-card a {
  display: block;
  width: 100%;
  height: 100%;
}

.latest-project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.latest-project-card:nth-child(1) {
  position: relative;
  width: 85%;
  height: 100%;
  z-index: 1;
}

.latest-project-card:nth-child(2) {
  position: absolute;
  top: 0;
  right: 30%;
  z-index: 2;
  width: 30%;
  aspect-ratio: 1/1;
}

.latest-project-card:nth-child(3) {
  position: absolute;
  top: 60%;
  right: 0;
  transform: translateY(-50%);
  width: 40%;
  aspect-ratio: 1/1;
  z-index: 2;
}

.latest-project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Textures */
.textures {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.textures img,
.textures .texture-image {
  width: 150px;
  height: 250px;
  object-fit: cover;
  filter: blur(2px);
  opacity: .75;
  will-change: transform, filter;
  transform: translateZ(0);
  backface-visibility: hidden;
}

