.home-container {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  padding: 2rem 4rem;
  flex-grow: 1;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.home-section {
  width: 50%;
  max-width: 780px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.home-title {
  margin-top: 6rem;
  font-family: var(--font-heading);
  margin-bottom: 1rem;
  font-size: 4rem;
  width: 100%;
  line-height: 1.2;
}

.home-title-name {
  font-size: 2rem;
  font-weight: 400;
  opacity: .8;
}

.home-description {
  max-width: 600px;
  line-height: 1.6;
}

.home-link-container {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.home-image {
  display: flex;
  align-items: center;
  margin-right: 8rem;
  justify-content: center;
  width: 550px;
}

.home-image img {
  width: 100%;
  aspect-ratio: 3/4;
  object-fit: cover;
  cursor: zoom-in;
}

.footer-home {
  display: none!important;
}

/* Responsive */
@media screen and (min-width: 1920px) {
  .home-image {
    width: 700px;
  }

  .home-title {
    margin-top: 20rem;
  }
}

@media screen and (max-width: 1550px) {
  .home-image {
    margin-right: 0;
  }
}

@media screen and (max-width: 1400px) {
  .home-image {
    width: 500px;
  }
}

@media screen and (max-width: 1250px) {
  .home-image {
    width: 450px;
  }
}

@media (max-width: 1024px) {
  .home-section {
    width: 50%;
  }

  .home-title {
    font-size: 3rem;
  }

  .home-image {
    width: 50%;
  }
  
  .home-image img {
    height: auto;
  }
}

@media (max-width: 768px) {
  .home-container {
    flex-direction: column-reverse;
    height: auto;
    min-height: 80dvh;
    gap: 2rem;
    justify-content: center;
    padding: 2rem 1.5rem;
  }

  .home-section {
    width: 100%;
  }

  .home-title {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .home-title-name {
    font-size: 1.5rem;
  }

  .home-image {
    width: 70%;
    margin: 0 auto;
  }
  
  .home-description {
    font-size: 0.95rem;
  }
}

@media (max-width: 480px) {
  .home-link-container {
    flex-direction: column;
    width: 100%;
    align-items: stretch;
  }

  .home-link-container > * {
    width: 100%;
  }

  .home-image {
    width: 100%;
  }
}
