.projects-section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.projects-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.projects-title {
  font-family: var(--font-heading);
  font-size: 5rem;
  text-transform: uppercase;
}

.filters {
  display: flex;
  gap: 2rem;
  margin-bottom: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}

.filter-button {
  color: var(--color-foreground);
  text-transform: uppercase;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  border: none;
  font-family: var(--font-body);
  transition: color 0.2s ease;
}

.filter-button:hover {
  color: var(--color-primary);
}

.filter-button.active {
  color: var(--color-secondary);
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding-bottom: 6rem;
}

.project-card {
  height: 350px;
  overflow: hidden;
  cursor: pointer;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.project-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--color-primary), 0.5);
    z-index: 10;
}
