.home-container {
  display: flex;
  padding: 2rem 4rem;
  flex-grow: 1;
}

.latest-projects {
  width: 50%;
  position: relative;
  padding: 8rem 6rem 0 4rem;
}

.home-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.home-title {
  font-family: var(--font-heading);
  margin-bottom: 1rem;
}

.home-description {
  max-width: 600px;
  line-height: 1.6;
}

.home-link-container {
  margin-top: 2rem;
}

.home-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--color-primary);
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity 0.3s ease;
}

.home-link:hover {
  opacity: 0.9;
}

.latest-project-card {
  border: 1px solid var(--color-background);
}

.latest-project-card a {
  display: block;
  width: 100%;
  height: 100%;
}

.latest-project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.latest-project-card:nth-child(1) {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.latest-project-card:nth-child(2) {
  position: absolute;
  top: 0;
  right: 30%;
  z-index: 2;
  width: 30%;
  aspect-ratio: 1/1;
}

.latest-project-card:nth-child(3) {
  position: absolute;
  top: 60%;
  right: 0;
  transform: translateY(-50%);
  width: 40%;
  aspect-ratio: 1/1;
  z-index: 2;
}

.latest-project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
