.filters {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.category-filters {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.filter-controls-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
